<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Users</title>
    <style>
        body {
            background-color: #f8f9fa;
        }

        #sidebar {
            height: calc(100vh - 3.5rem);
            flex-direction: column;
            padding: 0px;
        }

        #adminPanel {
            padding-left: 90px;
            padding-top: 20px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="col-11">
            <b class="navbar-text text-light" href="#" th:text="${principal.getUsername()}">VALUE</b>
            <nobr class="navbar-text text-light">with roles:</nobr>
            <a class="navbar-text text-light" href="#" th:text="${principal.printAuthorities()}">VALUE</a>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href='/logout'>Logout</a>
            </li>
        </ul>
    </div>
</nav>
<nav id="sidebar" class="col-2 nav bg-white float-left">
    <ul id="navbar-side" class="navbar-nav" style="padding-top:20px;">
        <a class="btn btn-primary text-white">
            <div class="float-left">Admin</div>
        </a>
        <a class="btn text-primary" href="/user">
            <div class="float-left">
                User
            </div>
        </a>
    </ul>
    </div>
    </div>
</nav>
</div>
<div id="adminPanel" class="container bg-light sidebar">
    <h1 id="admin">Admin panel</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#">Users table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href='/admin/new'>New User</a>
        </li>
    </ul>
    <div class="card card-default">
        <h4 class="card-header">All users</h4>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <div th:each="user : ${users}">
                    <tr>
                        <td><span class="align-middle" th:text="${user.getId()}">VALUE</span></td>
                        <td><span class="align-middle" th:text="${user.getFirstName()}">user</span></td>
                        <td><span class="align-middle" th:text="${user.getLastName()}">user</span></td>
                        <td><span class="align-middle" th:text="${user.getAge()}">user</span></td>
                        <td><span class="align-middle" th:text="${user.getUsername()}">user</span></td>
                        <td><span class="align-middle" th:text="${user.printAuthorities()}">user</span></td>
                        <!--EDIT-->
                        <td>
                            <form>
                                <input class="btn btn-info align-middle" type="button"
                                       data-toggle="modal" th:attr="data-target=${'#u'+ user.id}"
                                       value="Edit">
                            </form>
                        </td>

                        <form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">

                            <div class="modal" th:attr="id=${'u' + user.id}"
                                 th:aria-labelledby="${user.getId()}">
                                <div class="modal-dialog ">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" th:id="${user.getId()}">
                                                Edit user</h5>
                                            <button type="button" class="close" data-dismiss="modal">x</button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <b>ID</b>
                                            <br>
                                            <input type="text"
                                                   class="form-control"
                                                   id="id" name="id"
                                                   th:value="${user.getId()}" disabled/>
                                            <br>
                                            <b>First name</b>
                                            <br>
                                            <input type="text" class="form-control" id="firstName" name="firstName"
                                                   th:value="${user.getFirstName()}"/>
                                            <br>
                                            <b>Last name</b>
                                            <br>
                                            <input type="text" class="form-control" id="lastName" name="lastName"
                                                   th:value="${user.getLastName()}"/>
                                            <br>
                                            <b>Age</b>
                                            <br>
                                            <input type="text" class="form-control" id="age" name="age"
                                                   th:value="${user.getAge()}"/>
                                            <br>
                                            <b>Email</b>
                                            <br>
                                            <input type="text" class="form-control" id="username" name="username"
                                                   th:value="${user.getUsername()}"/>
                                            <br>
                                            <b>Enter password:</b>
                                            <br>
                                            <input  type="text" class="form-control" id="password" name="password"
                                                    th:value="${user.getPassword()}"/>
                                            <br>
                                            <div>
                                                <b>Role</b>
                                                <br>
                                                <select name="rolesSelected" multiple required size="2">
                                                    <div th:each="role : ${allRoles}">
                                                        <option th:text="${role.getName()}" th:value="${role.getId()}"
                                                                name="roles"/>
                                                    </div>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"
                                                    class="btn btn-secondary"
                                                    data-dismiss="modal">Close
                                            </button>
                                            <input type="submit" class="btn btn-primary"
                                                   value="Edit"/>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>

                        <!--DELETE-->
                        <td>
                            <input class="btn btn-danger align-middle" type="button" data-toggle="modal"
                                   th:attr="data-target=${'#del'+ user.id}" value="Delete"/>
                        </td>
                        <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                            <div class="modal" th:attr="id=${'del' + user.id}"
                                 th:aria-labelledby="${user.getId()}">
                                <div class="modal-dialog ">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" th:id="${user.getId()}">
                                                Edit user</h5>
                                            <button type="button" class="close" data-dismiss="modal">x</button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <b>ID</b>
                                            <br>
                                            <input class="text-center" type="text" th:value="*{user.getId()}" disabled/>
                                            <br>
                                            <b>First name</b>
                                            <br>
                                            <input class="text-center" type="text" th:value="*{user.getFirstName()}"
                                                   disabled/>
                                            <br>
                                            <b>Last name</b>
                                            <br>
                                            <input class="text-center" type="text" th:value="*{user.getLastName()}"
                                                   disabled/>
                                            <br>
                                            <b>Age</b>
                                            <br>
                                            <input class="text-center" type="text" th:value="*{user.getAge()}"
                                                   disabled/>
                                            <br>
                                            <b>Email</b>
                                            <br>
                                            <input class="text-center" type="text" th:value="*{user.getUsername()}"
                                                   disabled/>
                                            <br>
                                            <b>Role</b>
                                            <br>
                                            <select name="rolesSelected" multiple required size="2" disabled>
                                                <div th:each="role : ${allRoles}">
                                                    <option th:text="${role.getName()}" th:value="${role.getId()}"
                                                            name="roles"/>
                                                </div>
                                            </select>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"
                                                    class="btn btn-secondary"
                                                    data-dismiss="modal">Close
                                            </button>
                                            <input type="submit" class="btn btn-danger"
                                                   value="delete"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </tr>
                </div>
            </table>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>